.sectionCollapseAbout{
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .sectionCollapseAbout{
        gap: 20px;
    }
}