.card{
    position: relative;
    border-radius: 10px;
    height: 23vw;
}

.card img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card h6{
    position: absolute;
    bottom: 20px;
    left: 0px;
    color: var(--colorwhite);
    font-size: var(--fontSize18);
    padding: 0px 15px;
    width: fit-content;
    height: fit-content;
}

.overlayCard{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    box-shadow: inset 0px -130px 60px -60px rgb(0 0 0 / 58%);
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .card{
        min-height: 255px;
        max-height: 320px;
    }
}