.NavHeader{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.NavHeader ul{
    display: flex;
    gap: 57px;
}
.NavHeader a{
    list-style-type: none;
    text-decoration: none;
    color: var(--colorRed);
    font-size: var( --fontSize24);

}
.NavHeader a.active{
    
    text-decoration: underline;

}