.section_error{
    color: var(--colorRed);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_error div ,.section_error a{
    margin: 40px;
}
.section_error a{
    color: var(--colorRed);
    
}
.chiffre{
    font-weight: 700;
    font-size: 288px;
}
.oups{
    font-size: 36px;
}
