.section_error{
    color: var(--colorRed);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 110px;
    margin: 90px 0px 85px 0px;
}

.section_error a{
    color: var(--colorRed);
    font-size: var( --fontSize18);    
}
.section_error h1{
    font-weight: 900;
    font-size: 288px;
}

.errorMessage{
    font-size: var( --fontSize36);
}
@media screen and (max-width: 768px) {
    .section_error h1{
        font-size: 96px;
    }
    .errorMessage{
        font-size: var( --fontSize18);
        text-align: center;
    }
    .section_error a{
        font-size: var( --fontSize14);    
    }

}
